:root {
	--lightgreen: #55f991;
	--darkgreen: #46bd72;
	--darkbg: #1f2937;
	--divider: #4a5058;
}

body {
	background-color: var(--darkbg);
	font-family: 'Cairo', sans-serif;
}
.downbtn {
	width: 204.14px;
	height: 48px;
	color: var(--lightgreen);
	background-color: #273549;
	font-size: 0.9rem;
	text-shadow: 1px -1px 3px gray;
	display: inline-block !important;
}

.downbtn:hover {
	background-color: var(--darkgreen);
}

/* .my-container {
	background-color: #1f2937;
	width: 38vw;
    height: 38vw;
    border: solid 5px #fff;
	margin-top: 10vh;
} */

h1,
p {
	color: white;
}

h2 {
	color: var(--lightgreen);
}

h1,
h2 {
	font-family: 'Cairo', sans-serif;
	font-weight: bolder;
}

.first {
	margin-top: 2rem;
	background-color: var(--lightgreen);
	text-shadow: 1px -1px 3px black;
}

.first:hover {
	background-color: var(--darkgreen);
}

#divide {
	width: 420px;
	height: 4px;
	color: var(--divider);
}

@media (max-width: 768px) {
	#pass-one,
	#pass-two {
		display: flex;
		flex-direction: column;
		font-size: 0.6rem;
	}

	#divide {
		width: 240px;
	}
}

label {
	color: white;
	margin-left: 0.4rem;
}

input#slider {
	position: relative;
	top: 0.1rem;
	margin: 0 0.4rem 0 0.4rem;
}

#slider {
	height: 10px;
}

input#slider-amount {
	width: 4vw;
	height: 3vh;
	@media (max-width: 1000px) {
		width: 3vw;
		height: 2vh;
	}
}

input {
	accent-color: var(--lightgreen);
}

/* ||||||||||||||||| Css snipper |||||||||||||||| */
/* Study the following code */

input[type='range'] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: var(--lightgreen);
	border-radius: 25px;
}
input[type='range']::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
	background: var(--lightgreen);
}
.range-wrap {
	width: 200px;
	position: relative;
	margin-top: 2rem;
}
.range-value {
	position: absolute;
	top: -50%;
}
.range-value span {
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #11bb50;
	color: whitesmoke;
	font-size: 1.1rem;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
	text-shadow: 2px -2px 2px black;
}
.range-value span:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #11bb50;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

/* Animation */
@keyframes tilt-shaking-global {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0.01deg);
	}
	50% {
		transform: rotate(0eg);
	}
	75% {
		transform: rotate(-0.01deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes tilt-shaking-item {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0.5deg);
	}
	50% {
		transform: rotate(0eg);
	}
	75% {
		transform: rotate(-0.5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.constant-tilt-shake-global {
	animation: tilt-shaking-global 0.3s infinite;
}

.constant-tilt-shake-item {
	animation: tilt-shaking-item 0.3s infinite;
}
